<a href="https://colab.research.google.com/github/ANKITSRI836/Machine_Learning/blob/main/Admission_Predict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df= pd.read_csv(r'https://img1.wsimg.com/blobby/go/8c96521b-7ee0-4579-b983-c9c9fac1057e/downloads/Admission_Predict.csv?ver=1610189154966')

In [3]:
df.head()

   Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0           1        337          118  ...  9.65         1              0.92
1           2        324          107  ...  8.87         1              0.76
2           3        316          104  ...  8.00         1              0.72
3           4        322          110  ...  8.67         1              0.80
4           5        314          103  ...  8.21         0              0.65

[5 rows x 9 columns]

In [4]:
df.info

<bound method DataFrame.info of      Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0             1        337          118  ...  9.65         1              0.92
1             2        324          107  ...  8.87         1              0.76
2             3        316          104  ...  8.00         1              0.72
3             4        322          110  ...  8.67         1              0.80
4             5        314          103  ...  8.21         0              0.65
..          ...        ...          ...  ...   ...       ...               ...
395         396        324          110  ...  9.04         1              0.82
396         397        325          107  ...  9.11         1              0.84
397         398        330          116  ...  9.45         1              0.91
398         399        312          103  ...  8.78         0              0.67
399         400        333          117  ...  9.66         1              0.95

[400 rows x 9 columns]>

In [5]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [6]:
X= df[['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research']]

In [8]:
Y=df['Chance of Admit ']

In [10]:
#train_test_split
from sklearn.model_selection import train_test_split 
X_train, X_test,Y_train,Y_test=train_test_split(X,Y,train_size=0.8,random_state=240)

In [11]:
# Model - train dataset
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(X_train,Y_train)

LinearRegression()

In [13]:
# Predict- test dataset
Y_pred=model.predict(X_test)

In [14]:
# accuracy

from sklearn.metrics import mean_absolute_error
mean_absolute_error(Y_test,Y_pred)

0.044236754921440365

In [15]:
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [16]:
X= sm.add_constant(X)

In [17]:
model=sm.OLS(Y,X)

In [18]:
result= model.fit()

In [19]:
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       Chance of Admit    R-squared:                       0.819
Model:                            OLS   Adj. R-squared:                  0.815
Method:                 Least Squares   F-statistic:                     220.9
Date:                Thu, 09 Dec 2021   Prob (F-statistic):          6.52e-140
Time:                        13:52:53   Log-Likelihood:                 553.63
No. Observations:                 400   AIC:                            -1089.
Df Residuals:                     391   BIC:                            -1053.
Df Model:                           8
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                -1.2936      0.120    -10.775      0.000      -1.530      -1.058
Serial No.            0.0002   2.77e-05      5.753      0.000       0.000       0.000
GRE Score             0.0018      0.001      3.129      0.002       0.001       0.003
TOEFL Score           0.0037      0.001      3.487      0.001       0.002       0.006
University Rating     0.0088      0.005      1.903      0.058      -0.000       0.018
SOP                9.937e-05      0.005      0.018      0.985      -0.010       0.011
LOR                   0.0215      0.005      4.041      0.000       0.011       0.032
CGPA                  0.1053      0.012      8.786      0.000       0.082       0.129
Research              0.0244      0.008      3.185      0.002       0.009       0.039
==============================================================================
Omnibus:                       65.071   Durbin-Watson:                   0.819
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              111.066
Skew:                          -0.955   Prob(JB):                     7.62e-25
Kurtosis:                       4.737   Cond. No.                     1.55e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.55e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [20]:
#Y=(-1.2936)+Serial No. *(0.0002) + GRE Score*( 0.0018) + TOEFL Score*(0.0037) + University Rating*(0.0088) + SOP *(9.937e-05 ) + LOR*(0.0215) + CGPA*(0.1053) + Research *(0.0244)